In [1]:
import pandas as pd

In [10]:
dataset = pd.read_csv("Datasets/wells.csv", sep=' ')

In [11]:
dataset.head()

   id  switch  arsenic       dist  assoc  educ
0   1       1     2.36  16.826000      0     0
1   2       1     0.71  47.321999      0     0
2   3       0     2.07  20.966999      0    10
3   4       1     1.15  21.486000      0    12
4   5       1     1.10  40.874001      1    14

In [12]:
dataset.describe()

,id,switch,arsenic,dist,assoc,educ
count,3020.000000,3020.000000,3020.000000,3020.000000,3020.000000,3020.000000
mean,1510.500000,0.575166,1.656930,48.331863,0.422848,4.828477
std,871.943232,0.494400,1.107387,38.478675,0.494093,4.017317
min,1.000000,0.000000,0.510000,0.387000,0.000000,0.000000
25%,755.750000,0.000000,0.820000,21.117250,0.000000,0.000000
50%,1510.500000,1.000000,1.300000,36.761499,0.000000,5.000000
75%,2265.250000,1.000000,2.200000,64.041000,1.000000,8.000000
max,3020.000000,1.000000,9.650000,339.531006,1.000000,17.000000